.editResume {
  .main_section {
    padding-bottom: 0px;
  }

  .container {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 15px;
  }

  .edit_about,
  .edit_educate,
  .edit_skill,
  .edit_exp,
  .edit_project,
  .edit_button {
    margin: 0 auto;
    width: 85%;
  }

  .textinput,
  .select {
    padding: 10px 0;
  }
  .title {
    font-size: 22px;
    font-weight: normal;
    color: #263238;
  }
  .subtitle {
    display: inline-block;
    font-size: 14px;
    color: black;
    margin-left: 5px;
  }
  .edit_exp_top {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
  }

  .textarea {
    max-width: 100%;
  }

  .selects {
    display: flex;

    .select {
      width: 50%;
    }
  }


  .add_btn,
  .delete_btn {
    max-width: 12%;
  }

  .exp_button {
    display: flex;
    justify-content: flex-end;
  }

  .edit_button {
    margin-top: 50px;
    margin-bottom: 80px;
    display: block;

    .cancel_btn {
      width: 40%;
    }

    .save_btn {
      width: 40%;
      float: right;
    }
  }
}