.editResume {
  .main_section {
    padding-bottom: 0px;
    position: relative;
  }

  .textinput,
  .select {
    padding: 10px 0;
  }

  .title {
    font-size: 22px;
    font-weight: normal;
    color: #263238;
    margin-top: 50px;
  }

  .subtitle {
    display: inline-block;
    font-size: 14px;
    color: black;
    margin-left: 5px;
  }

  .textarea {
    max-width: 100%;
  }

  .selects {
    display: flex;
    .select{
      width:50%;
    }
  }

  .edit_button {
    margin-top: 50px;
    margin-bottom: 80px;
    display: block;

    .cancel_btn {
      width: 40%;
    }

    .save_btn {
      width: 40%;
      float: right;
    }
  }
  .close_icon{
    position:absolute;
    right: 15px;
    cursor: pointer;
  }
}