button {
  cursor: pointer;
  outline: 0;
  box-sizing: border-box;
  transition: all .5s;

  &.type_primary {
    background-color: #3597ec;
    color: #ffffff;
    border: none;
    &:disabled {
      background-color: #e4e4e4;
      color: #707070;
      cursor: not-allowed;
    }
  }

  &.type_outline {
    background-color: none;
    color: #3597ec;
    border: 2px solid #3597ec;
    &:disabled {
      color: #e4e4e4;
      border: 2px solid #e4e4e4;
      cursor: not-allowed;
    }
  }

  &.type_link {
    background-color: none;
    border: none;
    color: #ec5252;
    &:disabled {
      cursor: not-allowed;
    }

    &.theme_red {
      color: #ec5252;
      &:disabled {
        color: #FFE0E0;
        &:hover {
          color: #ec5252;
        }
      }
    }
    &.theme_blue {
      color: #3597ec;
      &:disabled {
        color: rgba(53, 151, 236, 0.65);;
        &:hover {
          color: #3597ec;
        }
      }
    }
  }

  &.small {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
  }

  &.large {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    font-size: 24px;
    margin: 10px 0;
  }
}
