.actions_wrapper {
  width: 74%;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & > button {
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
  }
}
