@import "../../../styles/main.scss";
.console-box {
  background: $codio-darkblue;
  overflow-y: scroll;
  height: 94%;
  font-size: 15px;
}

.css-y965hj * {
  font-size: 15px !important;
  padding: 1px 0px !important;
}
