@import "../../../styles/main.scss";
.playground {
  display: flex;
  flex-direction: row;
  height: 100%;
  .resizer {
    overflow-y: scroll;
    position: relative;
  }
}

.titlebar {
  height: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 0 20px;
  display: flex;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  background: $codio-darkblue;
  top: $app-header-height;
  z-index: 10;
  input {
    border: transparent;
    background: none;
    outline: 0;
    color: $blue;
    font-size: $font-m;
    line-height: 1.19;
  }
}

.react-tabs__tab-panel {
  // flex-basis: 60%;
  // width: 60%;
}

.result {
  // flex-basis: 40%;
  background: $white;
  z-index: 10;
  iframe {
    width: 100%;
    height: calc(100vh - 70px);
    border: none;
  }
}

.code-editor {
  height: 100%;
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  position: relative;
}

.titlebar_btnGroup {
  margin-left: auto !important;
  button {
    margin-left: 6px;
    cursor: pointer;
  }
}
.ReactCodeMirror {
  height: 92%;
}
.CodeMirror {
  height: inherit;
}

.editor-header {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
