@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.resume {
  color: black;
  /*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
    font-display: fallback;
  }

  .add_pdf_btn {
    max-width: 20%;
  }

  .user_info {
    width: 80%;

    .left_sec {
      margin-right: 50px;
    }
    h3 {
      font-size: 14px;
      font-weight: normal;
    }
  }

  

  h1 {
    font-size: 22px;
  }

  p {
    color: #707070;
    font-size: 14px;

    h5 {
      color: black;
    }
  }

  .skills {

    .skills_block {
      width: calc(100%/3);
      display: inline-block;

      span {
        background-color: #e8f0fb;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #3597ec;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        margin-right: 10px;
      }

      h4 {
        color: #3597ec;
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: normal;
    color: #263238;
  }

  .exp_block {
    border: solid 1px rgba(0, 0, 0, 0.16);
    width: calc(100%/3);
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;

    h5 {
      font-size: 14px;
      font-weight: normal;
      margin: 0
    }
  }

  .project_block {
    display: flex;
    margin-bottom: 15px;

    .project_time {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        margin: 0;
      }
    }
  }
}