@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

.resume {
  color: black;

  .add_pdf_btn {
    max-width: 20%;
  }

  .download_resume_btn {
    max-width: 150px;
    background-color: #ec5252;
    color: #ffffff;
    border: none;
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 1px 7px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user_info {
    width: 80%;

    .left_sec {
      margin-right: 50px;
    }

    h3 {
      font-size: 14px;
      font-weight: normal;
    }
  }



  h1 {
    font-size: 22px;
  }

  p {
    color: #707070;
    font-size: 14px;

    h5 {
      color: black;
    }
  }

  .skills {

    .skills_block {
      width: calc(100%/3);
      display: inline-block;

      span {
        background-color: #e8f0fb;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #3597ec;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        margin-right: 10px;
      }

      h4 {
        color: #3597ec;
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: normal;
    color: #263238;
  }

  .exp_block {
    border: solid 1px rgba(0, 0, 0, 0.16);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;


    .line {
      border-left: 5pt solid #3597ec;
      height: 50px;
      height: 85px;
      margin-top: 20px;
      padding-right: 15px;
    }

    h5 {
      font-size: 14px;
      font-weight: normal;
      margin: 0
    }

  }

  .project_block {
    display: flex;
    margin-bottom: 15px;
  }

  .skills,
  .user_exp,
  .user_project {
    margin-bottom: 80px;
  }
  .main_section{
    padding-bottom: 0px;
  }
  .avatar_dropzone{
    width: 150px;
    height: 150px;
    outline: 0;
    margin-bottom: 5px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 1px solid lightgray;
  }
}