@import '../../../styles/main.scss';

.Layout {
  width: 100%;

  .Layout__sidebar {
    background-color: $codio-darkblue;
    color: $white;
    width: 15%;
    flex-direction: column;
    text-align: center;
    position: fixed;

    .logo {
      margin: auto;
      width: 100px;
      height: 80px;
      background-repeat: no-repeat;
    }

    .user_img {
      max-width: 100px;
      height: 100px;
      margin: 0 auto;
      background-repeat: no-repeat;
    }

    .user_name {
      margin-bottom: 80px;
      font-weight: normal;
    }

    ul {
      padding: 0;
    }

    ul li {
      list-style: none;
      border-left: solid 3px $blue;
      color: $blue;
      margin-bottom: 45px;
      font-size: 18px;
    }

    .logout {
      color: $white;
      border-left: none;
      margin-bottom: 0;
    }
  }

  .Layout__content {
    background-color: $background-color;
    width: 85%;
    float:right;
  }
}
