@import "../../../styles/main.scss";
.settings {
  .main_section {
    padding-bottom: 0px;
  }
  
  .textinput {
    padding: 10px 0;
  }

  .title {
    font-size: 22px;
    font-weight: normal;
    color: #263238;
  }

  .avatar_dropzone {
    width: 150px;
    height: 150px;
    outline: 0;
    cursor: pointer;
    margin-bottom: 5px;
    clip-path: polygon(0% 0%, 0% 100%,100% 100%,100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%,100% 100%,100% 0%);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 1px solid lightgray;
  }

  .edit_info {
    .subtitle {
      display: block;
      font-size: 18px;
      color: #3597ec;
      margin-top: 35px;
      margin-bottom: 30px;
    }

    .inputs {
      display: flex;
      flex-direction: row;

      .left_sec {
        width: 50%;
      }

      .right_sec {
        width: 50%;
        // .textinput{
        //   float: right;
        // }
      }
    }

    .textinput {
      width: 80%;
    }

  }

  .edit_settings {
    display: flex;

    .subtitle {
      display: block;
      font-size: 18px;
      color: #707070;
      margin-bottom: 30px;
      margin-top: 30px;

    }

    .radioButtonGroup__option {
      display: block;
      margin-bottom: 20px;
    }

    .selection {
      width: 30%;
    }

    .editor {
      max-width: 550px;
      height: 300px;
      width: 70%;
      align-self: center;

      .editor_top {
        background-color: #e6e6e6;
        width: 100%;
        height: 40px;
        position: relative;
        border-radius: 5px 5px 0 0;

        .circle {
          width: 15px;
          height: 15px;
          position: absolute;
          border-radius: 50%;
        }

        .red {
          background-color: #ff5141;
          left: 20px;
          top: 15px;
        }

        .yellow {
          background-color: #f1bb3f;
          left: 50px;
          top: 15px;
        }

        .green {
          background-color: #70cb43;
          left: 80px;
          top: 15px;
        }
      }

      .editor_body {
        position: relative;
        width: 100%;
        height: 260px;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 11px 13px 0px rgba(0, 0, 0, 0.1);
        transition: all .3s;

        &.navy {
          background-color: #2a2f42;
          color: #ffffff;
        }

        &.black {
          background-color: #000000;
          color: #ffffff;
        }

        &.white {
          background-color: #ffffff;
          color: #000000;
        }


        .editor_body_title {
          position: absolute;
          left: 15px;
          top: 15px;
        }

        .editor_body_color {
          .darkBlue {
            background-color: #2a2f42;
          }

          .black {
            background-color: #000000;
          }

          .light {
            background-color: #f5f7fb;
          }
        }
      }
    }
  }

  .edit_pw {
    .textinput {
      width: 40%;
    }
  }

  .edit_button {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

    .cancel_btn {
      width: 40%;
    }

    .save_btn {
      width: 40%;
      // float: right;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;
  letter-spacing: 1px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,.8) transparent;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}