@import '../../../styles/main.scss';

.textinput {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.5s;
  position: relative;

  input {
    min-height: 40px;
    border-radius: 5px;
    border: solid 1px $gray;
    background-color: $white;
    outline: 0;
    max-width: 100%;
    box-sizing: border-box;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    position: relative;
    margin: 0;
    transition: all 0.5s;
    color: black;

    &:focus {
      border: solid 1px $blue;
    }

    &:disabled {
      background-color: $gray;
      color: $dark-gray;
    }

    &::placeholder {
      color: #e4e4e4;
    }
  }

  &.required {
    .textinput__title {
      &::after {
        content: '*';
        color: $codio-pink;
        font-size: 15px;
        padding: 0 5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.35;
        letter-spacing: 1;
        text-align: left;
      }
    }
  }

  &.error {
    input {
      border: solid 1px $codio-pink;
      // padding-right: 250px;
    }

    .textinput__hint {
      position: absolute;
      top: calc(100% / 2);
      right: 15px;
      font-size: 12px;
      margin: 5px 0;
      color: $codio-pink;

      .hinttext {
        vertical-align: middle;
      }

      svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }

  &.ok {
    input {
      border: solid 1px $green;
      padding-right: 50px;
    }

    .textinput__hint {
      position: absolute;
      top: calc(100% / 2);
      right: 15px;
      font-size: 14px;
      margin: 3px 0;
      color: $green;

      .hinttext {
        vertical-align: middle;
      }

      svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}

.textinput__title {
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: $dark-gray;
  margin-bottom: 7px;
}

.textinput__icon {
  position: absolute;
  top: calc(50% / 2);
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
    color: $white;
  }
}

.textinput__postBtn {
  position: absolute;
  width: 70px !important;
  top: 0 !important;
  margin: 0 !important;
  height: 40px !important;
  border-radius: 0 5px 5px 0 !important;
  right: 0 !important;
  font-size: 12px !important;
}
