@import '../../styles/main.scss';

.Search {
  background: white;
  .SearchContent {
    margin-top: 60px;
  }
  h2 {
    color: black;
    padding-left: 120px;
    padding-top: 10px;
  }
  .banner {
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/search_banner.png');
    background-position-y: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    .textinput {
      width: 40%;
    }
    button {
      margin-left: -35px;
      border-radius: 8px;
      z-index: 2;
    }
  }
  .projectList {
    display: flex;
    background: $white;
    padding: 0 100px 50px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  .carouselList {
    padding-left: 0;
    padding-right: 0;
  }
  .swiper-button-next {
    background-color: #2a2f42;
    background-image: url('../assets/chevron-right-solid.svg');
    position: absolute;
    right: 0;
    background-size: 10px;
    padding: 5px;
  }
  .swiper-button-disabled {
    display: none;
  }
  .swiper-button-prev {
    background-color: #2a2f42;
    background-image: url('../assets/chevron-right-solid.svg');
    transform: scaleX(-1);
    position: absolute;
    left: 0;
    background-size: 10px;
    padding: 5px;
  }
  .swiper-wrapper {
    padding: 0 100px;
  }
}
