@import '../../../styles/main.scss';

$pc-media: 960px;
$pad-media: 760px;
$phone-media: 480px;

.Modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.Modal__wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 1000px;
  // min-height: 300px;
  width: 550px;
  overflow: hidden;
  transition: all 0.5s;
  transform: scale(0.5);
  -webkit-animation: ScaleUp 0.3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: ScaleUp 0.3s;
  /* Firefox < 16 */
  -ms-animation: ScaleUp 0.3s;
  /* Internet Explorer */
  -o-animation: ScaleUp 0.3s;
  /* Opera < 12.1 */
  animation: ScaleUp 0.3s;
  animation-fill-mode: forwards;

  @media screen and (max-width: $pad-media) {
    width: 100%;
  }
}

.closing .Modal__wrapper {
  -webkit-animation: ScaleDown 0.3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: ScaleDown 0.3s;
  /* Firefox < 16 */
  -ms-animation: ScaleDown 0.3s;
  /* Internet Explorer */
  -o-animation: ScaleDown 0.3s;
  /* Opera < 12.1 */
  animation: ScaleDown 0.3s;
  animation-fill-mode: forwards;
}

.Modal__content {
  height: calc(100% - 108px);
  transition: all 0.5s;
  padding: 30px 80px;
}

.Modal__title {
  height: 54px;
  padding: 15px 20px 15px 80px;
  display: flex;
  align-items: center;
  user-select: none;
  font-size: $modal-title-font-size;
  line-height: 1.1;
  color: $modal-title-color;
  background-color: $modal-header-background-color;

  svg {
    width: 30px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;
    color: #3597ec;
  }
}

.Modal__button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .Modal__button-group__cancel {
    width: 45%;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
    background-color: none;
    color: #3597ec;
    border: 2px solid #3597ec;
    &:disabled {
      color: $gray;
      border: 2px solid $gray;
      cursor: not-allowed;
    }
  }

  .Modal__button-group__confirm {
    width: 45%;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
    background-color: $blue;
    color: $white;
    border: none;
    &:disabled {
      background-color: $gray;
      color: $dark-gray;
      cursor: not-allowed;
    }
  }
}

@keyframes ScaleUp {
  from {
    transition: transform 300ms ease-in;
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes ScaleDown {
  from {
    transition: transform 300ms ease-in;
    transform: scale(1);
  }

  to {
    transform: scale(0.5);
  }
}