.score_circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #ffffff;
  border: 10px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  font-size: 16px;
  font-weight: 500;
  &.theme_red {
    background: #ec5252;
    border-color: rgb(236, 82, 82);
    border-color: rgba(236, 82, 82, 0.42);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
  &.theme_blue {
    background: #537091;
    border-color: rgb(83, 112, 145);
    border-color: rgba(83, 112, 145, 0.42);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
  &.theme_yellow {
    background: #ffda89;
    border-color: rgba(255, 218, 137, 0.42);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
}