@import "../../../styles/main.scss";
.AppHeader {
  background: #383e55;
  height: $app-header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  color: $white;
}

.AppHeader__tablist {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.8;
  li {
    height: 25px;
    min-width: 50px;
    display: inline-block;
    position: relative;
    bottom: -1px;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    list-style: none;
    padding: 6px 12px;
    margin-right: 9.8px;
    cursor: pointer;
    background: $codio-blue;
    text-align: center;
    outline: 0;
    &[aria-selected="true"] {
      background: $codio-darkblue;
    }
  }
}

.AppHeader__logo-wrap {
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-left: 20px;
  img {
    height: 100%;
  }
}

.AppHeader__btnGroup {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  .shareBtn {
    color: $blue;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.shareModal {
  .textinput {
    margin: 30px 0 !important;
  }
  p {
    color: $black !important;
  }
  .Modal__wrapper {
    width: 400px;
  }
  .Modal__content {
    padding: 30px 40px;
  }
  .radioButtonGroup {
    margin-bottom: 80px;
  }
  .radioButtonGroup__option {
    margin-bottom: 20px;
    display: block;
  }
}