//font-size

$font-s: 12px;
$font-m: $font-s * 1.5;
$font-l: $font-s * 5;

//color system
$green: #43a047;
$white: #ffffff;
$pink: #ffc9c9;
$darkgreen: #448d47;
$gray: #f2f2f2;
$black: #333333;
$news-pink: #fffafa;
$pagination-ping: #ffc9c9;

//font
$font-family-base: "Ubuntu", "PingFangTC", "微軟正黑體", "sans-serif";
$bold: 500;
$semibold: 600;
$min_bold: 300;

//width
$block-margin-l: 60px;
$block-margin-m: 25px;
$block-margin-s: 10px;

//grid-breakpoints
$pad: 375px;
$mobile: 768px;

//border
$border-green: 3px solid $green;
$border-radius-base: 25px;

//box-shadow
$box-shadow-base: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

//banner-img
$sol-banner-img: "../../assets/solBanner.png";
$pro-banner-img: "../../assest/product.png";
